@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

:root {
  --primary-color: #f60f20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #111;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

p {
  margin: 2.5rem 0 1.5rem;
  font-size: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 3rem;
  padding: 10rem 10rem 0;
}

/* HOME */
section.home {
  height: 100vh;
  flex-direction: row;
  margin: 0;
}

.btn {
  display: inline-block;
  margin: 2rem 0;
  padding: 1rem 3rem;
  border: 0;
  background: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: transform 0.1s linear;
}

.btn:hover {
  transform: scale(1.05);
}

.logo {
  position: absolute;
  top: 3rem;
  left: 10rem;
  font-size: 3rem;
  font-weight: 700;
  z-index: 3;
}

.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  background: var(--primary-color) url(../images/menu.png);
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.1s linear;
}

.toggle:hover {
  transform: scale(1.05);
}

.toggle.active {
  background: var(--primary-color) url(../images/close.png);
  background-size: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.1s ease-in-out;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  margin-block: 1.5rem;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 3rem;
  font-weight: 500;
  text-decoration: none;
  color: #111;
}

.navigation ul li a:hover {
  color: var(--primary-color);
}

.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .social-bar a {
  display: inline-block;
  transform: scale(0.8);
  transition: transform 0.1s ease-in-out;
}

.navigation .social-bar a:hover {
  transform: scale(1);
}

.navigation .email-icon {
  position: absolute;
  bottom: 2rem;
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

.home-content {
  max-width: 60rem;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .home-img {
    display: none;
  }

  .logo {
    top: 2rem;
    left: 2rem;
    font-size: 2.6rem;
  }

  section {
    padding: 3rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.8rem;
  }

  .navigation ul li {
    margin-block: 1rem;
  }

  .navigation ul li a {
    font-size: 2.6rem;
  }

  .social-bar a {
    transform: scale(0.6);
  }
}

/* SERVICES */
.title h1 {
  font-size: 2.8rem;
}

.title p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.services {
  margin: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.service {
  padding: 3rem;
  text-align: center;
  border: 1px solid #ddd;
}

.service:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.icon img {
  max-width: 10rem;
}

.service h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 2rem;
  color: #1b206e;
}

.service p {
  font-size: 1.5rem;
  line-height: 1.3;
}

@media screen and (max-width: 1024px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 2.5rem;
  }

  .title p {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 480px) {
  .services {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0.5rem;
  }

  .service {
    padding: 1.5rem;
  }
}

/* WORK */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.item {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 1rem;
}

.item img {
  width: 100%;
  height: 100%;
}

.action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s linear;
}

.action a {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
}

.item:hover .action {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .portfolio {
    margin: 3rem 1.5rem;
  }

  .item {
    width: 28rem;
    height: 28rem;
  }
}

/* CONTACT */
.contact {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-form {
  background: #f9f9f9;
  width: 65%;
  padding: 4rem 4rem 2rem;
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;
  display: flex;
}

.input50 {
  width: 50%;
  margin: 0 1rem;
}

.input100 {
  width: 100%;
  margin: 0 1rem;
}

.row input,
.row textarea {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  width: 100%;
  padding: 1rem;
  outline: none;
  margin-block: 1rem;
}

.contact-form textarea {
  resize: none;
  height: 15rem;
}

.contact-form input[type="submit"] {
  border: 0;
  background: #1b206e;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #fff;
  cursor: pointer;
}

.contact-info {
  width: 30%;
  background: #f9f9f9;
  padding: 4rem 4rem 2rem;
}

.info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.contact-icon {
  width: 2rem;
  margin-right: 3rem;
}

.details h4 {
  font-size: 1.8rem;
  color: #1b206e;
}

.details p,
.details a {
  font-size: 1.6rem;
  color: #111;
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 3rem 3rem 2rem;
  }

  .input50,
  .input100 {
    width: 100%;
    margin: 0 1rem;
  }

  .contact-info {
    width: 100%;
    margin-top: 2rem;
    padding: 3rem 3rem 2rem;
  }
}

@media screen and (max-width: 480px) {
  .row {
    flex-direction: column;
  }
}
