:root {
  --primary-color: #f60f20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  font-size: 62.5%;
  color: #111;
}

h1 {
  font-size: 3rem;
  font-weight: 500px;
}

p {
  margin: 2.5rem 0 1.5rem;
  font-size: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 100px;
  margin-top: 6rem;
}

section.home {
  flex-direction: row;
  margin-top: 0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  margin: 2rem 0;
  border: 0;
}

.btn:hover {
  transform: scale(1.1);
}

.logo {
  position: absolute;
  top: 3rem;
  left: 10rem;
  font-size: 3rem;
  font-weight: 700;
  z-index: 3;
}

.toggle {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  background: var(--primary-color) url(../images/menu.png);
  background-size: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}

.toggle.active {
  background: var(--primary-color) url(../images/close.png);
  background-size: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.navigation.active {
  left: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 3rem;
  font-weight: 300;
  text-decoration: none;
  color: #111;
}

.navigation ul li a:hover {
  color: var(--primary-color);
}

.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .social-bar a {
  display: inline-block;
  transform: scale(0.8);
}

.navigation .email-icon {
  position: absolute;
  bottom: 2rem;
  transform: scale(0.5);
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

.home-content {
  z-index: 1;
  max-width: 600px;
  position: relative;
}

@media (max-width: 768px) {
  .home-img {
    display: none;
  }

  .logo {
    top: 2rem;
    left: 2rem;
    font-size: 2.5rem;
  }

  section {
    padding: 3rem;
  }

  .toggle {
    width: 4rem;
    height: 4rem;
  }
}

/* SERVICES */
.title h1 {
  font-size: 2.8rem;
}

.title p {
  font-size: 1.8rem;
}

.service h2 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 2rem;
  color: #1b206e;
}

.service p {
  font-size: 1.5rem;
}

.services {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  text-align: center;
}

.service {
  padding: 3rem;
}

.service:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.service .icon img {
  max-width: 100px;
}

@media (max-width: 768px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 540px) {
  .services {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* WORK */
.action a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 1.5rem;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.item {
  width: 300px;
  height: 300px;
  position: relative;
  margin: 1rem;
}

.item img {
  width: 100%;
  height: 100%;
}

.action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}

.item:hover .action {
  opacity: 1;
}

/* CONTACT */
.contact input,
textarea,
h4,
a {
  font-size: 1.6rem;
}

.contact {
  position: relative;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-form {
  position: relative;
  background: #f9f9f9;
  width: calc(100% - 400px);
  padding: 6rem 4rem 2rem;
}

.contact-form form {
  width: 100%;
}

.contact-form .row {
  width: 100%;
  display: flex;
}

.input50 {
  width: 50%;
  margin: 0 1rem;
}

.input100 {
  width: 100%;
  margin: 0 1rem;
}

.row input,
textarea {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  width: 100%;
  padding: 1rem;
  outline: none;
  font-weight: 300;
  margin: 1rem 0;
}

.contact-form textarea {
  resize: none;
  height: 15rem;
}

.contact-form input[type="submit"] {
  background: #1b206e;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}

.contact-info {
  width: 350px;
  background: #f9f9f9;
  padding: 6rem 4rem 2rem;
}

.info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4rem;
}

.contact-icon {
  width: 20px;
  margin-right: 4rem;
}

.details h4 {
  color: #1b206e;
}

.details p,
a {
  color: #111;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 3rem 3rem 2rem;
  }

  .row {
    flex-direction: column;
  }

  .input50,
  .input100 {
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 2rem;
    padding: 3rem 3rem 2rem;
  }
}
